<mat-card id="card">
    <form [formGroup]="form" (ngSubmit)="register()">
        <mat-card-title>
            <h1 id="title">{{'registerTitle'|translate}}</h1>
        </mat-card-title>

        <mat-card-content>
            <mat-form-field>
                <mat-label>{{'username'|translate}}</mat-label>
                <input matInput formControlName="username">
                <mat-error *ngIf="username && username.touched">
                    {{'usernameError'|translate}}
                </mat-error>
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>{{'emailAddress'|translate}}</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="email && email.touched">
                    {{'emailAddressError'|translate}}
                </mat-error>
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>{{'password'|translate}}</mat-label>
                <input matInput  [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="password && password.touched">
                    {{'passwordError'|translate}}
                </mat-error>
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>{{'dateOfBirth'|translate}}</mat-label>
                <input matInput [matDatepicker]="dateOfBirth" formControlName="dateOfBirth">
                <mat-datepicker-toggle matIconSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                <mat-datepicker #dateOfBirth></mat-datepicker>
                <mat-error *ngIf="dateOfBirth">
                    {{'dateOfBirthRequire'|translate}}
                </mat-error>
            </mat-form-field><br>

            <button mat-raised-button color="primary" [disabled]="form.invalid">{{'register'|translate}}</button>
            <button mat-raised-button color="primary" type="button" routerLink="/">{{'login'|translate}}</button>
            <p class="error">{{errorMessage}}</p>
        </mat-card-content>
    </form>
    <div id="translate">
        <app-translate></app-translate>
    </div>
</mat-card>