<mat-card id="card">
    <form [formGroup]="form" (ngSubmit)="forgotPassword()">
        <mat-card-title>
            <h1 id="title">{{"forgotPassword"|translate}}</h1>
        </mat-card-title>

        <mat-card-content>
            <mat-form-field>
                <mat-label>{{"emailAddress"|translate}}</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="email && email.touched">
                    {{"emailAddressError"|translate}}
                </mat-error>
            </mat-form-field><br>

            <button mat-raised-button color="primary" [disabled]="form.invalid">{{"sendEmail"|translate}}</button>
            <button mat-raised-button color="primary" type="button" routerLink="/">{{"login"|translate}}</button>
            <p class="error">{{errorMessage}}</p>
        </mat-card-content>
    </form>
    <div id="translate">
        <app-translate></app-translate>
    </div>
</mat-card>