<mat-card id="card">
    <form [formGroup]="form" (ngSubmit)="forgotPassword()">
        <mat-card-title>
            <h1 id="title">Forgot Password</h1>
        </mat-card-title>

        <mat-card-content>
            <mat-form-field>
                <mat-label>Email address</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="email && email.touched">
                    Wrong email! Example: your@email.com
                </mat-error>
            </mat-form-field><br>

            <button mat-raised-button color="primary" [disabled]="form.invalid">Send email</button>
            <button mat-raised-button color="primary" type="button" routerLink="/">Login</button>
            <p class="error">{{errorMessage}}</p>
        </mat-card-content>
    </form>
</mat-card>