<form [formGroup]="form" (ngSubmit)="editUser()">
    <mat-card-title>
        <h1 id="title">{{"editUser"|translate}}</h1>
    </mat-card-title>

    <mat-card-content>
        <mat-form-field>
            <mat-label>{{"username"|translate}}</mat-label>
            <input matInput formControlName="username">
            <mat-error *ngIf="username && username.touched">
                {{"usernameError"|translate}}
            </mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>{{"emailAddress"|translate}}</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="email && email.touched">
                {{"emailAddressError"|translate}}
            </mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>{{"dateOfBirth"|translate}}</mat-label>
            <input matInput [matDatepicker]="dateOfBirth" formControlName="dateOfBirth">
            <mat-datepicker-toggle matIconSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
            <mat-datepicker #dateOfBirth></mat-datepicker>
            <mat-error *ngIf="dateOfBirth">
                {{"dateOfBirthRequired"|translate}}
            </mat-error>
        </mat-form-field><br>

        <mat-checkbox formControlName="admin">{{"admin"|translate}}</mat-checkbox>

        <mat-checkbox formControlName="verified">{{"verified"|translate}}</mat-checkbox>

        <mat-checkbox formControlName="enabled">{{"enabled"|translate}}</mat-checkbox><br>

        <button mat-raised-button color="primary">{{"edit"|translate}}</button>
        <p class="error">{{errorMessage}}</p>
    </mat-card-content>
</form>