<table>
    <tr>
        <th>{{"username"|translate}}</th>
        <th>{{"emailAddress"|translate}}</th>
        <th>{{"admin"|translate}}</th>
        <th>{{"verified"|translate}}</th>
        <th>{{"enabled"|translate}}</th>
    </tr>
    <tr *ngFor="let user of users;">
        <td class="pointer" [routerLink]="['/user/', user.id]">{{user.username}}</td>
        <td class="pointer" [routerLink]="['/user/', user.id]">{{user.email}}</td>
        <td class="pointer">
            <div *ngIf="user.admin; else else_block">✔</div>
            <ng-template #else_block>❌</ng-template>
        </td>
        <td class="pointer">
            <div *ngIf="user.verified; else else_block">✔</div>
            <ng-template #else_block>❌</ng-template>
        </td>
        <td class="pointer">
            <div *ngIf="user.enabled; else else_block">✔</div>
            <ng-template #else_block>❌</ng-template>
        </td>
    </tr>
</table>
