<mat-card id="card">
  <form [formGroup]="form" (ngSubmit)="login()">
      <mat-card-title>
          <h1 id="title">Login</h1>
      </mat-card-title>

      <mat-card-content>
          <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput formControlName="username">
              <mat-error *ngIf="username && username.touched">
                  Username is required!
              </mat-error>
          </mat-form-field><br>

          <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput formControlName="password">
              <mat-error *ngIf="password && password.touched">
                  Password is required!
              </mat-error>
          </mat-form-field><br>

          <button mat-raised-button color="primary" type="button" onclick="location.href='/register';">Register</button>
          <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
          <p class="error">{{errorMessage}}</p>
      </mat-card-content>
  </form>
</mat-card>