#card{
    max-width: 50%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    background-color:antiquewhite;
}
#title{
    margin: 20px;
    font-weight: bold;
}
mat-form-field{
    min-width: 300px;
    margin-top: 20px;
}
#card button{
    margin-top: 50px;
}