<div id="header"></div>
<div id="menu">
    <button mat-raised-button color="primary" type="button" routerLink="/">{{"home"|translate}}</button>
    <button mat-raised-button color="primary" type="button" routerLink="/users">{{"users"|translate}}</button>
    <button mat-raised-button color="primary" type="button" routerLink="/user">{{"userDetails"|translate}}</button>
    <button mat-raised-button color="primary" type="button" (click)="logout()">{{"logout"|translate}}</button>
</div>
<router-outlet></router-outlet>
