<mat-card id="card">
    <form [formGroup]="form" (ngSubmit)="changePassword()">
        <mat-card-title>
            <h1 id="title">{{"changePassword"|translate}}</h1>
        </mat-card-title>

        <mat-card-content>
            <mat-form-field>
                <mat-label>{{"oldPassword"|translate}}</mat-label>
                <input matInput  [type]="hideOld ? 'oldPassword' : 'text'" formControlName="oldPassword">
              <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>{{"newPassword"|translate}}</mat-label>
                <input matInput  [type]="hideNew ? 'newPassword' : 'text'" formControlName="newPassword">
              <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="newPassword && newPassword.touched">
                    {{"passwordError"|translate}}
                </mat-error>
            </mat-form-field><br>

            <button mat-raised-button color="primary" [disabled]="form.invalid">{{"changePassword"|translate}}</button>
            <button mat-raised-button color="primary" type="button" routerLink="/">{{"login"|translate}}</button>
            <p class="error">{{errorMessage}}</p>
        </mat-card-content>
    </form>
</mat-card>