<mat-card id="card">
    <form [formGroup]="form" (ngSubmit)="changePassword()">
        <mat-card-title>
            <h1 id="title">Change Password</h1>
        </mat-card-title>

        <mat-card-content>
            <mat-form-field>
                <mat-label>Old Password</mat-label>
                <input matInput  [type]="hideOld ? 'oldPassword' : 'text'" formControlName="oldPassword">
              <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput  [type]="hideNew ? 'newPassword' : 'text'" formControlName="newPassword">
              <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="newPassword && newPassword.touched">
                    Password must be 8 characters and includes 1 uppercase character.
                </mat-error>
            </mat-form-field><br>

            <button mat-raised-button color="primary" [disabled]="form.invalid">Change Password</button>
            <button mat-raised-button color="primary" type="button" routerLink="/">Login</button>
            <p class="error">{{errorMessage}}</p>
        </mat-card-content>
    </form>
</mat-card>